body {
            font-family: Arial, sans-serif;
            background: #eef2f3;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url(../assets/images/bgforsignup.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .signin {
            background: white;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            width: 100%;
            max-width: 400px;
        }

        h1 {
            text-align: center;
            margin-bottom: 24px;
            color: #333;
            font-family: 'Times New Roman', Times, serif;
        }

        label {
            display: block;
            margin: 12px 0 6px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            background-color: #000000;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            
        }
        input[type="submit"]:hover {
            background-color:rgb(187, 151, 104);
            color: #000000;
        }

        .error {
            color: red;
            text-align: center;
            margin-top: 10px;
        }