{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="signup">
        <h1>SIGN UP</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="uname">Username</label>
            <input type="text" name="uname" id="uname">
            
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass">
            
            <label for="phnum">Mobile.No</label>
            <input type="text" name="phnum" id="phnum">
            
            <input type="submit" name="btn" value="signup">
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
